html,
body {
  background-image: url("../public/Fondo.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #474545;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
